@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ecg-slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

.animate-ecg-slide {
    animation: ecg-slide 6s linear infinite;
}